

section{
	max-width: 900px;
	// display: grid;
	// justify-items: center;
	// align-content: center;
	z-index: 1;
}



.heroWrapper{
	display:grid
}

.heading{
	color: inherit;
}


.paragraph{
	font-size: 16px !important;
	color: inherit;
}

li{
	font-size: 16px !important;	
}

.wp-block-custom-text-block-hero-modal{
	display: grid;
	justify-items: center;
	align-content: center;
    position: relative; /* Required for absolute positioning of ::before */
	background-position: center;
}

.hero-modal-section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(46.11% 41.12% at 51.58% 50%, rgba(40, 40, 40, 0.48) 0%, rgba(40, 40, 40, 0.8) 100%);
	z-index: -1;
}

.hero-modal-section{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	padding: 60px;
	gap: 12px;
	min-height: 700px;
}

.text-wrapper{
	gap: 12px;
	display: flex;
	flex-direction: column;
}

.text-wrapper.left{
	align-items: left;
}

.text-wrapper.center, .text-wrapper.full{
	align-items: center;
}

.text-wrapper.right{
	align-items: right;
}



