.icon-color-picker-wrapper{
    grid-template-areas: "a b c";
    grid-template-columns: auto 1fr 1fr;
    gap: 8px;
    align-items: center;
}

.icon-picker-dropdown{
    grid-area: a;
    max-height: 32px;
}

.icon-picker-color-button.minimal{
    position: relative;
}

.icon-picker-hex-input{
    grid-area: c;
}

.icon-color-picker-wrapper>.components-dropdown>button{
    padding: 0;
    min-width: unset;
}

.color-picker-palette{
    position: absolute;
    top: 40px;
    right: 12px;
    padding: 8px;
    border: 1px grey solid;
    background: white;
    z-index: 10;
}