/* Minimal helper styles; import once in your main editor bundle */
@font-face {
	font-family: fontAwesome;
	src: url("../../fonts/fa-solid-900.woff2") format('woff2');
}

:root{
    --font-Awesome: fontAwesome;
    --gap: 8px
}

.grid{
  display: grid;
}

.grid-columns{
  grid-template-columns: var(--grid-template-columns);
}

.tm-row-buttons {
display: flex;
gap: .25rem;
}
.tm-li-remove {
margin-left: .5rem;
}
.text-wrapper {
display: grid;
gap: .5rem;
}
// .text-wrapper .heading.xl { font-size: 60px; line-height: 1.1; }
// .text-wrapper .heading.l { font-size: 40px; line-height: 1.2; }
// .text-wrapper .heading.m { font-size: 32px; line-height: 1.25; }
// .text-wrapper .heading.s { font-size: 24px; line-height: 1.3; }
// .text-wrapper .paragraph { font-size: 16px; line-height: 1.6; }
.text-modal-ul { padding-left: 1.25rem; }
.text-modal-ul .list { margin: .25rem 0; }

.text-modal-ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    --icon-space: 28px;
    padding-left: var(--icon-space);
}

.text-modal-ul .list .li-icon {
  font-weight: 900; /* solid */
  width: 1.25em;
  line-height: 1.2;
  display: inline-block;
  color: var(--iconColor, currentColor);
}
.text-modal-ul .list .li-icon::before {
  content: var(--faIcon, "\\f00c");
}


.panel-control-settings{
    width: 100%;
}

// .header-settings-controls{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 12px;
//     align-items: start;
// }

.block-editor-block-inspector .components-base-control:where(:not(:last-child)){
  margin-bottom: unset;
}

.list::before {
  content: var(--faIcon, "\f00c");
    font-family: var(--font-Awesome);
  font-weight: 900;
  color: var(--iconColor, currentColor);
  display: inline-block;
  width: 1.25em;
  margin-right: .5rem;
}

.text-modal-section.inverted{
  flex-direction: column-reverse
}

// .panel-settings-button{
//   width: calc(50% - var(--gap) / 2 );
//   text-align: center;
// }

.panel-body, .row-buttons{
  border-bottom: 1px solid #e0e0e0
}