@font-face {
	font-family: fontAwesome;
	src: url("./attributes/fa-solid-900.woff2") format('woff2');
}



:root{
	--faIcon: "\f00c";
	--faIcon-arrow-right: "\f00d"
	--iconColor: black;
}


.text-modal-wrapper{
	max-width: unset !important;
	display:grid !important;
}


.remove-list-item{
	all: unset;
	cursor: pointer;
}

ul > .list{
 	padding-left: unset;
}

.invertOrder{
	order: 2;

}



.colorPickerButton{
	height: 20px;
    border-radius: 20px;
    width: 20px;
    margin-right: 12px;
	font-size: 20px;
}



.new-window-icon{
	--faIcon: "\f002";
}

.new-window-icon::before{
	content: var(--faIcon);
	color: black;
   	padding-right: 3px;
   	font-weight: 900;
	font-family: fontAwesome;
	vertical-align: middle;
	font-size: 20px;
}

.wp-block-custom-text-block-text-modal{
	display: grid;
	justify-items: center;
	align-content: center;
    position: relative; /* Required for absolute positioning of ::before */
	background-position: center;
}

.has-global-padding {
	padding: unset !important;
}


.image-modal-section{
	display: grid;
	grid-area: image;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "."
        "img"
        ".";
}

.text-modal-article{
	display: grid;
	justify-items: center;
	padding: 80px 60px;
	box-sizing: border-box;
}


.two-columns{
	grid-template-columns: 60% 40%;
	grid-template-areas: "text image";
	max-width: 1300px;
	min-width: 900px;
	gap: 40px;
}

.oneColumn{
	max-width: 900px;
	grid-template-columns: 100%;
	grid-template-areas: "text";

}

.two-columns.invert{
	grid-template-columns: 40% 60%;
	grid-template-areas: "image text";
} 
