@font-face {
	font-family: fontAwesome;
	src: url("./attributes/fa-solid-900.woff2") format('woff2');
}



:root{
	--faIcon: "\f00c";
	--faIcon-arrow-right: "\f00d"
	--iconColor: black;
}


.text-modal-wrapper{
	max-width: unset !important;
	display:grid !important;
}

.text-modal-ul{
	display: grid;
	--icon-space: 28px;
	gap: 4px;
	justify-items: start;
    text-align: left;
    max-width: 100%;
	padding-left: var(--icon-space);
}

.remove-list-item{
	all: unset;
	cursor: pointer;
}

ul > .list{
 	padding-left: unset;
}


.list span a{
	text-decoration: underline;
	font-family: inherit;
	color: blue;
}

.invertOrder{
	order: 2;

}



.colorPickerButton{
	height: 20px;
    border-radius: 20px;
    width: 20px;
    margin-right: 12px;
	font-size: 20px;
}



.new-window-icon{
	--faIcon: "\f002";
}

.new-window-icon::before{
	content: var(--faIcon);
	color: black;
   	padding-right: 3px;
   	font-weight: 900;
	font-family: fontAwesome;
	vertical-align: middle;
	font-size: 20px;
}

.heading{
	margin: unset;
}


.icon{
	font-family: fontAwesome, Helvetica;
	color: green;
}

.wp-block-custom-text-block-text-modal{
	display: grid;
	justify-items: center;
	align-content: center;
    position: relative; /* Required for absolute positioning of ::before */
	background-position: center;
}

.is-layout-constrained > *{
	float: unset !important;
	margin-inline-start: unset !important;
    margin-inline-end: unset !important;
}

.has-global-padding {
	padding: unset !important;
}
.text-modal-img{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	object-fit: cover;
}

.image-modal-section{
	display: grid;
	grid-area: image;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "."
        "img"
        ".";
}

.text-modal-article{
	display: grid;
	justify-items: center;
	padding: 80px 60px;
	box-sizing: border-box;
}


.image-container{
	width: 100%;
	height: 100%;
	grid-area: img;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
	&:not(.cover){
		border-radius: 12px;
	}
}

.two-columns{
	grid-template-columns: 60% 40%;
	grid-template-areas: "text image";
	max-width: 1300px;
	min-width: 900px;
	gap: 40px;
}

.oneColumn{
	max-width: 900px;
	grid-template-columns: 100%;
	grid-template-areas: "text";

}

.yoast-breadcrumbs{
	padding:12px;
}

.two-columns.invert{
	grid-template-columns: 40% 60%;
	grid-template-areas: "image text";
} 
